body{
    font-size: 12px;    
    font-family: 'system-ui';
}
.container{
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.upload-area{
    /* width: 70%; */
    height: 200px;
    border: 2px dashed lightgray;
    border-radius: 3px;
    margin: 0 auto;
    /* margin-top: 100px; */
    text-align: center;
    overflow: auto;
    padding: 20px
}

.upload-area:hover{
    cursor: pointer;
}

.upload-area h2{
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    line-height: 30px;
    color: darkslategray;
    font-size: 18px;
    margin-top: 50px;
}

#file, #file2{
    display: none;
}

/* Thumbnail */
.thumbnail{
    width: 140px;
    height: 140px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;    
    padding: 10px;
    margin: 10px;
}

.size{
    font-size:12px;
}


.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f1615d;
    color: white;
  }
  a, h1, h3{
      color: #f1615d
  }



  input[type=text],   input[type=email],  input[type=number], input[type=file], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #f1615d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f1615d;
  }

  b{font-size: 14px;}

  

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    position: relative;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 132px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    height: 30px;
  }

  .criteria-table td, .criteria-table th{
    padding: 1px 10px;
    border-color: #ddd;
  }

  .form-group.error input{
    border-color: red;
  }

  .scored{
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    right: 2px;
    top: 2px;
    background: #fff;
    border-radius: 10px;
  }
  a.entry{
    position: relative;
    display: block;
  }

  p.total{
    position: absolute;
    bottom: 3px;
    right: 0;
    background: #000;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px;
    border-radius: 10px 0 0 0;
  }

  .en-win a{ color: blue}

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }




  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  text-align: center
}

.loading img{
  width: 50px;
  margin-top: 20%;

}

li{ position: relative;}

.divider{
  height: 50px;
  border-bottom: 1px solid;
  margin-bottom: 50px;
}

.text-right{
  text-align:  right;
  margin-bottom: 20px;
}

.btn{
  width: 200px;
  background-color: #f1615d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn2{
  display: block;
  width: auto;
  text-align: center;
}

.text-center{
  text-align: center;
}